@import "variables";

.service {
  .top-line .full-menu a {
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &-content {
    padding: 25% 11% 34%;
    background-image: url("../img/service/serv_background.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 383px 211px;
  }
  h1 {
    padding-bottom: 0;
    margin-left: auto;
    color: #141313;
    font: 700 5.6em/85px Conv_GoshaSans-Bold_my;
    position: relative;
  }
  .before {
    position: relative;
    z-index: 1;
    &:before {
      position: absolute;
      content: "";
      top: 71px;
      width: 94%;
      height: 31px;
      left: -6px;
      background-color: $main-color-btn;
      z-index: -1;
    }
  }
  
  @media screen and(max-width: 53rem) {
    h1{
      font-size: 3.6em;
      line-height: 61px;
    }
    .before:before{
      top: 45px;
      height: 20px;
    }
    &-content{
      background-position: 13px 73px;
    }
  }
  @media screen and(max-width: 32.12rem) {

  }
}
.m {
  &-section {
    padding-top: 155px;
    background-color: black;
    background-image: none;
  }
  &-service-title {
    text-align: left;
    font-size: 4.1rem;
    margin-bottom: 50px;
    color: white;
    font-weight: 700;
    line-height: 36px;
    display: block;
    padding-bottom: 30px;
  }
  &-service-items {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &-service-item {

    box-sizing: border-box;
  padding:  50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    ul {
      color: white;
    }
    transition: all 2.2s ease;
    &:hover {
      background-color: white;
      ul li p {
        color: black;
      }

      li:before {
        color: black;
      }
      .m-title {
        color: black;
        &:before {
          background-position: 0 65px;
          height: 53px;
          top: 13px;
        }
          &_2:before{
            background-position: 62px 60px;
            width: 48px;
            left: -2px;
            top: 8px;
          }
          &_3:before{
            background-position: 171px 61px;
          }
          &_4:before{
            background-position: 109px -65px;
          }
          &_5:before{
            background-position: 242px 61px;
          }
      }
    }
  }

  &-ul-1 {
    flex-grow: 4;

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    li:nth-child(1) {
      flex-grow: 1;
      flex-basis: 200px;
      min-width: 200px;

    }
    li:nth-child(2) {
      flex-grow: 1;
      flex-basis: 300px;

    }
  }
  &-ul-2 {
    flex-grow: 1;
    max-width: 300px;
    justify-content: flex-end;
    li {
      padding-left: 20px;
      position: relative;


      &:before {
        position: absolute;
        content: ">";
        top: 6px;
        left: 0;
        font-size: 12px;
        color: $main-color-btn;
        width: 10px;
        height: 10px;

      }
      p {
        line-height: 27px;
      }
    }
  }
  &-title {
    padding-left: 70px;
    font: 700 3.4rem Conv_GoshaSans-Bold_my;
    text-transform: uppercase;
    position: relative;
    top: -14px;
    &:before {
      position: absolute;
      content: "";
      background-image: url("../img/02/service-provade.png");
      width: 60px;
      height: 59px;
      top: 5px;
      left: -10px;
      background-position: 0 0;
    }
    &_1:before {
         left: -1px;
       }
    &_2:before {
      background-position: 62px -6px;
      width: 48px;
      left: -2px;
    }
    &_3:before {
      background-position: 171px -3px;
       left: 1px;
        }
    &_4:before{
      height: 59px;
      left: -2px;
      background-position: 109px 0;
    }
    &_5:before{
                background-position: 242px 0;
              }
  }
@media screen and (max-width: 53rem) {
  &-service-title{
    padding-left: 10px;
  }
  .col{
    flex-direction: column;
        align-items: center;
  }
}
}
.c{
  &-footer{
    @media screen and (max-width: 53rem) {
     .footer h2{
        padding-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .col{
    flex-direction: column;
        align-items: center;
  }
}